VITE_PUBLIC_WHATSAPP_NUMBER=5517992778979
VITE_PUBLIC_WHATSAPP_MESSAGE=Olá! Gostaria de solicitar um táxi.
VITE_PUBLIC_PHONE_DISPLAY=(17) 99277-8979
VITE_PUBLIC_EMAIL=alexmurauskas93@gmail.com
VITE_PUBLIC_INSTAGRAM=@alex.taxiexecutivo.sjriopreto
